<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header">
	<div style="width: 100%;">
		<div style="height: min-content; display: flex; justify-content: space-between; margin: 0 0 0 0;"> 
			<a href="{{ "" | absolute_url }}/" class="logo">
				<strong>{{ site.title }}</strong>
			</a>
			<ul class="icons" style="padding-right: 2%; margin: 0 0 0 0;">
				{%- for key_value in site.socials -%}
					{% if key_value[1] %}
				<li>
					<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
						<span class="label">{{ key_value[0] }}</span>
					</a>
				</li>
					{% endif %}
				{%- endfor -%}
			</ul>
		</div>
		<nav style="float: right; vertical-align: top;">
			<a href="#menu">Menü</a>
		</nav>
	</div>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ absolute_url }}">Ana sayfa</a></li>
		<li><a href="{{ 'hakkimizda.html' | absolute_url }}">Hakkımızda</a></li>
		<li><a href="{{ 'iletisim.html' | absolute_url }}">İLETİŞİM</a></li>
		{%- for page in site.html_pages -%}
			{% if page.nav-menu == true %}
		<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
			{% endif %}
		{%- endfor -%}
	</ul>
</nav>
